@import '../../stylesheets/colors';

.container{

    max-width: 45%;
    background-color: $color-azul-nav;
    border-radius: 5px;
    padding: 10px;
    h2, h5, p, .text {
        color: $color-branco;
    }
    .icon {
        display: flex;
        justify-content: center;
    }
}

.botao {
    border: none;
    border-radius: 5px;
    padding: 8px;

}

.white {
    background-color: $color-branco;
    color: #000000;
}

.light_blue{
    background-color: $color-azul-claro-cards;
    color: #FFF;
}

.botao_icon{
    padding: 8px;
    color: #fff;
}